
    .container
        background-color: #FFFFFF
        padding: 20px
        margin-left: auto
        margin-right: auto
        padding: 20px
        border-radius: 3px
        @media screen and ( min-width: 375px )
            max-width: 576px
        @media screen and ( min-width: 768px )
            max-width: 720px
        @media screen and ( min-width: 768px )
            max-width: 720px
        @media screen and ( min-width: 1024px )
            max-width: 940px
        @media screen and ( min-width: 1280px )
            max-width: 1240px


    footer
        font-size: 0.9rem
        margin: 1.25rem 0
        text-align: center
        
            