<div class="index">
  <!-- <div class="search-form">
    <input #search (keyup.enter)="onEnter(search.value)" placeholder="搜索笔记、吐槽"  type="text" />
  </div> -->
  <div class="row">

    <div class="col-md-6">
      <div class="card-bg">
        <div class="card">
          <img src="../../../assets/images/59.jpg" alt="">
          <a routerLink="{{ '/article/' + article.sha }}">
            <h3>高级Kotlin-第2部分-使用网站目标</h3>
            <p>深入探讨Kotlin的使用场所目标。</p>
            <p>已发表 2019年12月3日 • 18分钟</p>
            <div class="list-tags"><span>Kotlin</span><span>Kotlin</span><span>Kotlin</span></div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-bg">
        <div class="card">
          <img src="../../../assets/images/59.jpg" alt="">
          <a routerLink="{{ '/article/' + article.sha }}">
            <h3>高级Kotlin-第2部分-使用网站目标</h3>
            <p>深入探讨Kotlin的使用场所目标。</p>
            <p>已发表 2019年12月3日 • 18分钟</p>
            <div class="list-tags"><span>Kotlin</span><span>Kotlin</span><span>Kotlin</span></div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-bg">
        <div class="card">
          <img src="../../../assets/images/59.jpg" alt="">
          <a routerLink="{{ '/article/' + article.sha }}">
            <h3>高级Kotlin-第2部分-使用网站目标</h3>
            <p>深入探讨Kotlin的使用场所目标。</p>
            <p>已发表 2019年12月3日 • 18分钟</p>
            <div class="list-tags"><span>Kotlin</span><span>Kotlin</span><span>Kotlin</span></div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-bg">
        <div class="card">
          <img src="../../../assets/images/59.jpg" alt="">
          <a routerLink="{{ '/article/' + article.sha }}">
            <h3>高级Kotlin-第2部分-使用网站目标</h3>
            <p>深入探讨Kotlin的使用场所目标。</p>
            <p>已发表 2019年12月3日 • 18分钟</p>
            <div class="list-tags"><span>Kotlin</span><span>Kotlin</span><span>Kotlin</span></div>
          </a>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card-bg">
        <div class="card">
          <img src="../../../assets/images/59.jpg" alt="">
          <a routerLink="{{ '/article/' + article.sha }}">
            <h3>高级Kotlin-第2部分-使用网站目标</h3>
            <p>深入探讨Kotlin的使用场所目标。</p>
            <p>已发表 2019年12月3日 • 18分钟</p>
            <div class="list-tags"><span>Kotlin</span><span>Kotlin</span><span>Kotlin</span></div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-bg">
        <div class="card">
          <img src="../../../assets/images/59.jpg" alt="">
          <a routerLink="{{ '/article/' + article.sha }}">
            <h3>高级Kotlin-第2部分-使用网站目标</h3>
            <p>深入探讨Kotlin的使用场所目标。</p>
            <p>已发表 2019年12月3日 • 18分钟</p>
            <div class="list-tags"><span>Kotlin</span><span>Kotlin</span><span>Kotlin</span></div>
          </a>
        </div>
      </div>
    </div>
    

    
    
  </div>
</div>