<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let item of articleList">
      <div class="card-bg">
        <div class="card">
          <a routerLink="{{ '/article/' + item.sha }}">
            <img src="../../../assets/images/59.jpg" alt="" >
            <h3>{{item.title}}</h3>
            <p>{{item.title}}</p>
            <p>{{item.time}} • {{item.readTime}}分钟</p>
            <div class="list-tags"><span>{{item.slug}}</span></div>
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-6">
      <div class="card-bg">
        <div class="card">
          <a routerLink="{{ '/article/' }}">
            <img src="../../../assets/images/59.jpg" alt="" >
            <h3>高级Kotlin-第2部分-使用网站目标</h3>
            <p>深入探讨Kotlin的使用场所目标。</p>
            <p>已发表 2019年12月3日 • 18分钟</p>
            <div class="list-tags"><span>Kotlin</span><span>Kotlin</span><span>Kotlin</span></div>
          </a>
        </div>
      </div>
    </div> -->
    

    
    
  </div>
</div>